<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Change User</title>
  <style>
    .error {
        color: red;
    }
    </style>
</head>
<body>
<form th:action="@{'/user/change'}" th:method="post">
  <p th:text="${message}" class="error"></p>
  <label for="id">Id: </label>
  <input type="number" th:name="id" id="id">
  <br>
  <label for="newLogin">new login: </label>
  <input type="text" th:name="newLogin" id="newLogin">
  <br>
  <input type="submit" value="Change"/>
</form>

</body>
</html>