<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Student</title>
    <style>
    .error {
        color: red;
    }
    </style>
</head>
<body>
    <form th:action="@{/group/student/create}" th:method="post" th:object="${student}">
        <p th:each="error : ${#fields.errors('name')}" class="error" th:text="${error}"></p>
        <label for="name">Name: </label>
        <input type="text" th:field="*{name}" id="name" th:value="*{name}">
        <br>
        <p th:each="error : ${#fields.errors('surname')}" class="error" th:text="${error}"></p>
        <label for="surname">Surname: </label>
        <input type="text" th:field="*{surname}" id="surname">
        <br>
        <p th:each="error : ${#fields.errors('age')}" class="error" th:text="${error}"></p>
        <label for="age">Age: </label>
        <input type="number" th:field="*{age}" id="age">
        <br>
        <label for="group">Group ID: </label>
        <input type="number" th:name="groupId" id="group">
        <br>
        <input type="radio" id="true" th:name="isPaid" value="true">
        <label for="true">TRUE</label><br>
        <br>
        <input type="radio" id="false" th:name="isPaid" value="false">
        <label for="false">FALSE</label><br>
        <input type="submit" value="Create"/>
    </form>

</body>
</html>